.modal_controller {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img {
	width: 45%;
	height: 45%;
}

.modal_item {
	padding: 2px;
	border-radius: 10px;
   margin-bottom: 10px;
}
