.order_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgb(20, 23, 65);
	border-radius: 30px;
	margin-bottom: 40px;
	padding: 20px;
	-webkit-box-shadow: 21px -51px 100px 0px rgba(20, 23, 65, 0.2) inset;
	-moz-box-shadow: 21px -51px 100px 0px rgba(20, 23, 65, 0.2) inset;
	box-shadow: 21px -51px 100px 0px rgba(20, 23, 65, 0.2) inset;
	font-weight: bold;
}

.order_item--left {
	img {
		min-width: 30%;
		min-height: 30%;
		border-radius: 15px;
	}
}
