.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
   position: relative;

   @media  (max-width: 290px) {
      padding: 0
	}
   &_items{
      display: flex;
      align-items: center;
      span{
         margin-left: 15px;
      }
   }
}


